In [1]:
# # Data science with python

# Data science is an interdisciplinary field that uses scientific methods, processes, algorithms, 
# and systems to extract knowledge and insights from structured and unstructured data. It encompasses 
# a range of techniques and tools from statistics, computer science, information theory, and domain-specific knowledge. 
# Here’s a more detailed breakdown of the key components and steps involved in data science:

# Key Components of Data Science

# Data Collection and Acquisition:

'''
Gathering data from various sources such as databases, APIs, web scraping, surveys, and more.
Ensuring data quality and relevance to the problem at hand.

'''

# Data Cleaning and Preprocessing:

'''
Handling missing values, removing duplicates, and correcting errors.
Normalizing or scaling data.
Transforming data into a suitable format for analysis.

'''
# Exploratory Data Analysis (EDA):

'''
Summarizing main characteristics of the data using statistical measures.
Visualizing data through plots and charts to identify patterns, trends, and anomalies.

'''
# Feature Engineering:

'''
Creating new features or modifying existing ones to improve model performance.
Selecting the most relevant features for the analysis.

'''
# Data Modeling:

'''
Applying various algorithms to build predictive or descriptive models.
Techniques include regression, classification, clustering, time-series analysis, and more.

'''
# Model Evaluation:

'''
Assessing the model’s performance using metrics such as accuracy, precision, recall, F1-score, ROC-AUC, etc.
Cross-validation and validation on test datasets to ensure model generalizability.

'''
# Model Deployment:

'''
Implementing the model in a production environment where it can make real-time predictions.
Monitoring the model’s performance over time and updating it as needed.

'''
# Communication and Visualization:

'''

Presenting findings and insights through dashboards, reports, and visualizations.
Translating technical results into actionable business insights.
Tools and Technologies in Data Science

'''

# Programming Languages:

'''

Python: Widely used for its simplicity and powerful libraries like NumPy, pandas, scikit-learn, TensorFlow, and PyTorch.
R: Popular for statistical analysis and data visualization.

'''
# Data Manipulation and Analysis:

'''
pandas and NumPy (Python)
dplyr and tidyverse (R)
'''

# Data Visualization:

'''
Matplotlib, Seaborn, and Plotly (Python)
ggplot2 (R)

'''

# Machine Learning and Deep Learning:

'''
scikit-learn, TensorFlow, Keras, PyTorch (Python)
caret and mlr (R)

'''

# Big Data Technologies:

'''
Apache Hadoop, Spark, Kafka
'''

# Database Management:

'''
SQL, NoSQL databases like MongoDB, Cassandra
'''
# Cloud Platforms:

'''
AWS, Google Cloud Platform (GCP), Microsoft Azure
'''

# Collaboration and Version Control:

'''
Git, GitHub, Jupyter Notebooks

'''

# Applications of Data Science

'''

Business Analytics: Optimizing operations, improving customer experience, and driving strategic decisions.

Healthcare: Predicting disease outbreaks, personalized medicine, and improving patient care.

Finance: Fraud detection, risk management, and algorithmic trading.

Marketing: Customer segmentation, sentiment analysis, and targeted advertising.

E-commerce: Recommendation systems, inventory management, and sales forecasting.

Social Media: Analyzing user behavior, content recommendation, and sentiment analysis.

Government and Public Policy: Policy analysis, public health, and crime prediction.


'''
# Conclusion

# Data science is a powerful tool that can be applied across various industries to solve complex problems and 
# make data-driven decisions. Its interdisciplinary nature requires a blend of skills in statistics, programming, 
# and domain expertise, making it a dynamic and evolving field.

'\n\nBusiness Analytics: Optimizing operations, improving customer experience, and driving strategic decisions.\n\nHealthcare: Predicting disease outbreaks, personalized medicine, and improving patient care.\n\nFinance: Fraud detection, risk management, and algorithmic trading.\n\nMarketing: Customer segmentation, sentiment analysis, and targeted advertising.\n\nE-commerce: Recommendation systems, inventory management, and sales forecasting.\n\nSocial Media: Analyzing user behavior, content recommendation, and sentiment analysis.\n\nGovernment and Public Policy: Policy analysis, public health, and crime prediction.\n\n\n'

In [2]:
%pip install seaborn

Requirement already satisfied: seaborn in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Step 1: import neccessary libraries

import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [9]:
# step 2: Load dataset

df = pd.read_csv('niceguys.csv')

print(df.to_string())

               name sex  age  living_allowance                   course  number_of_siblings  meals_per_day has_boyfriend_girlfriend grade  attendance_rate part-time_job
0      Alice Fenton   F   20               300         Computer Science                   1              3                      Yes     A               95            No
1         Bob Smith   M   22               250   Mechanical Engineering                   2              2                       No     B               90           Yes
2       Cathy Brown   F   19               400              Mathematics                   0              3                       No     A               98            No
3         David Lee   M   21               350  Business Administration                   3              2                      Yes     B               85           Yes
4        Emma Jones   F   18               200               Psychology                   1              3                       No     A               92            No
5      Frank Miller   M   23               500                  Physics                   2              4                      Yes     C               80           Yes
6         Grace Kim   F   20               275                Chemistry                   4              3                       No     B               88            No
7       Henry Evans   M   21               225                  Biology                   1              2                      Yes     A               93           Yes
8      Isla Roberts   F   19               300                  History                   0              3                       No     A               97            No
9       Jack Wilson   M   22               320   Electrical Engineering                   3              3                       No     B               89           Yes
10      Karen Young   F   20               310               Philosophy                   2              3                      Yes     A               96            No
11       Liam Scott   M   21               280        Political Science                   1              2                       No     B               91           Yes
12     Mia Martinez   F   18               400                  English                   0              3                      Yes     A               99            No
13      Nathan King   M   23               230                Economics                   2              4                       No     C               83           Yes
14    Olivia Turner   F   19               350              Art History                   1              3                      Yes     A               94            No
15      Peter Adams   M   20               260     Computer Engineering                   3              2                       No     B               87           Yes
16      Quincy Hall   M   22               270    Environmental Science                   1              3                      Yes     B               86           Yes
17     Rachel Clark   F   21               240                Sociology                   2              2                       No     A               92            No
18     Samuel Lewis   M   23               300        Civil Engineering                   4              3                       No     B               84           Yes
19       Tina Baker   F   19               330               Journalism                   0              3                      Yes     A               97            No
20       Umar Patel   M   20               250   Information Technology                   2              3                       No     B               88           Yes
21    Victoria Chen   F   22               275          Medical Science                   1              2                      Yes     A               94            No
22   William Carter   M   21               325                      Law                   3              2                       No     B               89           Yes
23     Xena Jackson   F   19               240             Anthropology                   0              3                       No     A               95            No
24        Yusuf Ali   M   20               350   Mechanical Engineering                   2              3                      Yes     B               87           Yes
25       Zara Blake   F   21               310        Political Science                   1              2                       No     A               93            No
26    Adrian Nelson   M   22               280                Economics                   3              3                       No     B               86           Yes
27     Bella Harris   F   19               230                  Biology                   0              3                      Yes     A               97            No
28       Chris Wong   M   20               260    Environmental Science                   2              2                       No     B               90           Yes
29      Diana Lopez   F   23               220                  History                   1              4                       No     C               82           Yes
30       Evan Davis   M   21               270              Mathematics                   3              3                      Yes     A               91            No
31      Fiona Green   F   20               290               Psychology                   2              2                       No     A               96            No
32      George King   M   22               320                  Physics                   1              3                      Yes     B               88           Yes
33     Hannah Clark   F   19               310                Chemistry                   4              2                       No     A               95            No
34       Ivan Moore   M   23               250         Computer Science                   2              3                       No     B               85           Yes
35   Julia Robinson   F   21               270                  English                   1              3                      Yes     A               94            No
36       Kevin Hill   M   20               300  Business Administration                   0              2                       No     B               87           Yes
37      Linda Adams   F   22               280                      Law                   3              3                      Yes     A               92            No
38    Mark Thompson   M   19               260   Electrical Engineering                   2              2                       No     B               90           Yes
39     Nina Johnson   F   21               350               Philosophy                   1              3                      Yes     A               97            No
40      Oscar White   M   23               240        Political Science                   3              4                       No     C               81           Yes
41      Paula Scott   F   20               220               Journalism                   0              3                       No     A               93            No
42      Ryan Harris   M   19               275   Information Technology                   1              2                      Yes     B               86           Yes
43  Sophie Martinez   F   21               260                Sociology                   2              3                       No     A               95            No
44     Travis Baker   M   22               300   Mechanical Engineering                   4              3                      Yes     B               88           Yes
45        Una Smith   F   20               240              Art History                   1              2                       No     A               96            No
46     Victor Brown   M   23               250                  Biology                   3              3                      Yes     C               83           Yes
47      Wendy Lewis   F   21               310          Medical Science                   2              3                       No     A               94            No
48     Xander Patel   M   19               320                Economics                   1              2                       No     B               87           Yes
49       Yvonne Kim   F   20               280                Chemistry                   4              3                      Yes     A               92            No
50     Zachary Chen   M   22               240                  Physics                   2              2                       No     B               89           Yes

In [5]:
# Step 3: Data cleaning and preprocessing

# Check for missing values

print(df.isnull().sum())

name                        0
sex                         0
age                         0
living_allowance            0
course                      0
number_of_siblings          0
meals_per_day               0
has_boyfriend_girlfriend    0
grade                       0
attendance_rate             0
part-time_job               0
dtype: int64

In [6]:
# Filling misssing values

df['living_allowance'].fillna(df['living_allowance'].median(), inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_15524\562076187.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['living_allowance'].fillna(df['living_allowance'].median(), inplace = True)

In [7]:
# EDA Exploratory data analysis
# Distribution students with age and whether they have girlfriend or boyfriend
# Gender who have boyfriend or girlfriend

# Correlation heatmaps, correlation matrix and plot the heatmaps
# Decision making/ insights of the data, data analysis conclusions based on:
# age and gf or bf
# gender and gf or by
# correlation analysis

In [8]:
import sys

print(sys.version)

3.12.4 (tags/v3.12.4:8e8a4ba, Jun  6 2024, 19:30:16) [MSC v.1940 64 bit (AMD64)]